# 忽略所有文件
*

# 但保留目录结构（否则子文件夹中的 .m/.slx 无法被跟踪）
!*/

# 跟踪脚本文件
!*.m
!*.mlx

# 跟踪 Simulink 模型文件
!*.slx
!*.mdl

# 允许 .gitignore 自身被跟踪
!.gitignore
# 不要的文件路径
/old/
/Bachelor_thesis_simulation/Old/
/Bachelor_thesis_simulation/参考/
/Bachelor_thesis_simulation/2023b_ver/
/Bachelor_thesis_simulation/Components/
/Common/Plot_signals/
/Bachelor_thesis_simulation/Main/Script/Create_FDIA/slprj/
/Bachelor_thesis_simulation/Main/Simulink/slprj/
/Bachelor_thesis_simulation/Main/slprj/
/Bachelor_thesis_simulation/Main/Script/POMDP/Old/